@import 'variables';
@import 'helpers';
@import 'fonts';
@import 'vendors/bootstrap';
@import 'vendors/bootstrap-rtl';
@import 'responsive';
@import 'vendors/fontawesome/fontawesome';
@import 'vendors/fontawesome/regular';
@import 'vendors/fontawesome/solid';
@import '~bootstrap-vue/src/index.scss';

.media-body {
  min-width: 0;
}

body {
  font-family: DINNextLTW23, serif;
}

a {
  @extend .animate;
}

img {
  width: 100%;
}

ul{
  padding: 0;
  li:after {
    display: none;
  }
}

.button-padding{
  padding: 4px 30px 10px 30px;
}

.profile-image {
  width: 32px;
  height: 32px;
}

.owl-carousel.no-overflow .owl-stage-outer {
  overflow: visible;
}

.owl-dots{
  margin: 10px 0;
  text-align: center;
  .owl-dot{
    span {
      margin: 4px;
      display: block;
      width: 10px;
      height: 10px;
      background-color: #e6e6e6;
      border-radius: 50%;
    }
    &.active span{
      background-color: $success;
    }
  }
}

.input-box {
  label {
    position: relative;
    display: block;
    width: 100%;
    input, textarea {
      border-radius: 4px;
      border: 1px $search-input-border-color solid;
      background-color: transparent;
      //background-color: $search-input-background-color;
      display: block;
      width: 100%;
      padding: 9px;
      color: $search-input-color;
    }
  }
  &.with-icon {
    position: relative;
    input {
      padding: 9px 40px 9px 9px;
    }
    .icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      color: $search-input-color;
      &.left{
        right: auto;
        left: 15px;
      }
    }

  }
}
