@font-face {
  font-family: 'DINNextLTW23';
  src: url('~assets/fonts/DINNextLTW23/DINNextLTW23-Regular.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/DINNextLTW23/DINNextLTW23-Regular.woff') format('woff'),
       url('~assets/fonts/DINNextLTW23/DINNextLTW23-Regular.ttf') format('truetype'),
       url('~assets/fonts/DINNextLTW23/DINNextLTW23-Regular.svg#DINNextLTW23-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'DINNextLTW23';
  src: url('~assets/fonts/DINNextLTW23/DINNextLTW23-Medium.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Medium.woff') format('woff'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Medium.ttf')  format('truetype'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Medium.svg#DINNextLTW23-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTW23';
  src: url('~assets/fonts/DINNextLTW23/DINNextLTW23-Bold.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Bold.woff') format('woff'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Bold.ttf') format('truetype'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Bold.svg#DINNextLTW23-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTW23';
  src: url('~assets/fonts/DINNextLTW23/DINNextLTW23-Heavy.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Heavy.woff') format('woff'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Heavy.ttf') format('truetype'),
  url('~assets/fonts/DINNextLTW23/DINNextLTW23-Heavy.svg#DINNextLTW23-Heavy') format('svg');
  font-weight: 700;
  font-style: normal;
}

