.fixed-md {
  @extend .animate;
}
.hide-search-input{
  display: none!important;
}
@include media-breakpoint-down(sm) {
  .fixed-md {
    background-color: #eff0f2;
    display: block !important;
    position: fixed !important;
    right: -100%;
    top: 0 !important;
    max-width: 100% !important;
    padding: 10px !important;
    z-index: 9 !important;
  }

  .right-0 {
    right: 0 !important;
  }

  .hide-navbar{
    left: 15px;
    top: 15px;
    z-index: 10;
    visibility: visible!important;
  }

  .hide-search-input{
    display: block!important;
  }
}

