$fa-font-path: "~assets/fonts/FontAwesomePro";
$primary: #96c751;
$success: #30be76;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
);

// ========== //
$header-background-color: #ffffff;
$header-border-color: #e6e6e6;
$page-content-border-color: #dbdbdb;
$app-background-color: rgb(239, 240, 242);
$search-input-background-color: #eff0f2;
$search-input-border-color: #e6e6e6;
$search-input-color: #888888;
$header-notification-icon-color: #767676;
$link-hover-decoration: none;